/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.header {
       z-index: 4000;
      padding-top: 1px;
       background: #f5f5f5;
       height:140px;
       width: 100%;
   }
#mainmenu {
    font-size: 14px;
    display:contents;

}
#mainmenu li {
    display: inline-block;
    padding: 0 2px;
}
#mainmenu li.menu_actif a, #mainmenu li a:hover {
    background-color: #e7e7e7;
    color: #444;
    text-decoration: none;
}
#mainmenu li a {

    border-radius: 5px;
    padding: 5px 14px;
    color: #444;
    position: relative;
}
#header_logo, .img-404 {
  width: 25%;
    display: flex;
    background: transparent url("https://media.archiduchesse.com/themes/axome/css/../img/svg/logo-normal.svg") no-repeat;
    height: 110px;
    margin left: 0px;
    transition: transform .2s linear .8s;
    outline: none;
    background-size: 55%;
    background-position: 50% 55%;
    margin-left: 320px;
}
a {
    color: #444;
    text-decoration: none;
}
#languages_block_top {
    display: block;
    margin: -20px -40px 0 0;
    color: #777;
    z-index: 12;
    font-size: 10px;
    text-align: right;
    position: absolute;
    right: 220px;
}
#languages_block_top li:first-child {
    border: none;
    cursor: pointer;
    height: auto;
    opacity: 1;
}
#languages_block_top li {
    margin: 0;
    display: block;
    line-height: 1;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}
#languages_block_top li span {
    position: relative;
}
#languages_block_top li a, #languages_block_top li span {
    transition: all 0.3s;
    display: block;
    padding: 2px 4px 3px 4px;
    color: #777;
    text-decoration: none;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
#header_user {
    display: block;
    z-index: 10;
    font-size: 14px;
    color: #777;
    line-height: 1.7em;
    position: absolute;
    right: 215px;
  margin-top: -15px;
}
#header_user a {
    color: #777;
    font-size: 14px;
}
#languages_block_top li span::before {
    content: '\25bc';
    display: block;
    float: right;
    font-size: 8px;
    padding-top: 2px;
}
.abs-panier {
    position: absolute;
    top:0;
    right: 0;
    display: flex;
}
.abs-panier div.lien-axstore {
    z-index: 99;
    cursor: pointer;
    text-align: center;
}
.abs-panier div {
    width: 80px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: #444;
    text-decoration: none;
}
a {
    background: transparent;
}
.abs-panier div.lien-axstore svg {
    height: 55px;
}
svg:not(:root) {
    overflow: hidden;
}
.abs-panier div.lien-panier {
    text-align: center;
    z-index: 150;
    background: #e7e7e7;
    cursor: pointer;
    transition-duration: .2s;
}
.abs-panier div.lien-panier p {
    display: block;
    text-align: center;
    color: #777;
    font-size: 14px;
    margin: 0;
}
.abs-panier div.lien-panier .ajax_cart_quantity {
    position: absolute;
    top: 20px;
    right: 12px;
    background: #444;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 12px;
    transform: translateX(-15px) translateY(8px);
}
a:hover, a:focus {
    color: #444;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
.block_top_menu ul{
  margin-left: -30px;
}
.block_top_menu  li {
    float: none;
    display: inline-block;
    border-right: none;
    background-color: #e7e7e7;
    border-bottom: 1px
}
.body{
  display: flex;
  justify-content:left;
}
 .sales{
      font-size: 12px;
      font-family: "Trebuchet MS",Arial,sans-serif;
      padding: 0.5em .4em;
      background: #e7e7e7;
      border-radius: 5px;
      margin-top: 15px;
      transition-duration: .3s;
}
.findout {
    color: #FFF;
    background-color: #444;
    border-color: #444;
}
.catpri {
    display: flex;
    align-items: center;
    margin: 0px 44px;
}
.product_img_link_2{
  margin-left: 6px;
}
.product-name  {
    color: #f6cdd4;
    font-style: italic;
    padding: 0 0 .1em 0;
    box-shadow: 0px 9px 22px ;
    font-size: 14px;
    margin-left: 46px;
}

.size span {
    display: block;
    padding: 3px 0 0 0;
    font-size: 15px;
    font-family: Arial,sans-serif;
    line-height: 1.2em;
}
#reassurance {
    text-align: center;
    padding-bottom: 4em;
    overflow: hidden;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {

  .header {
         width:auto;
     }
     #header_user {
         display: block;
         z-index: 10;
         font-size: 11px;
         color: #777;
         line-height: 1.7em;
         position: absolute;
         right: 214px;
       margin-top:1px;
     }
   #languages_block_top li span {
         transition: all 0.3s;
         display: block;
         padding: 16px 4px 3px 4px;
         color: #777;
         text-decoration: none;
         line-height: 1;
         text-shadow: 0 1px 0 rgba(0,0,0,0.2);
     }
     .abs-panier div.lien-panier p {
    font-size: 12px;
}
.abs-panier div.lien-panier {
    margin-top: 13px;
}
     .abs-panier {
         display: flex;
         position: relative;
         top:-135px;
         right: -155px;
         width: 50%;
     }
     #header_logo, .img-404 {
       width: 70%;
         display: flex;
         background: transparent url("https://media.archiduchesse.com/themes/axome/css/../img/svg/logo-normal.svg") no-repeat;
         height: 110px;
         transition: transform .2s linear .8s;
         outline: none;
         background-size: 55%;
         background-position: 50% 55%;
         margin-left:-25px;
     }
     .abs-panier div.lien-panier .ajax_cart_quantity {
         position: relative;
         right: 20px;
         top: -39px;
     }
     .body{
      display: inline-block;
     }
     .pub img{
       width: 100%;
       height: 100vh;
     }
     .product_img_link_2 img{
       width: 100%;
     }

    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
